* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-decoration: none;
  font-family: "Abel", sans-serif;
  line-height: 1.2rem;
  color: #354e57;
  /* color: #333333; */
}

/* --------------------------------------- */
/* img */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* img:hover {
  color: black;
} */

/* --------------------------------------- */
/* fontsize */

h1 {
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 2rem;
}

h2 {
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1.5rem;
}

h3 {
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1.25rem;
}

h4 {
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1.15rem;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  line-height: 1.2rem;
  color: #eef3f4;
}

p {
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1rem;
}

/* --------------------------------------- */
/* menu */
.banner {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  font-family: "Abel", sans-serif;
}

a {
  color: #354e57;
  text-decoration: none;
}

/* --------------------------------------- */
/* farve på hover */
a:hover {
  color: orange;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* --------------------------------------- */
/* burgermenu */
.toggle-btn {
  display: none;
  color: #354e57;
}

@media (max-width: 900px) {
  h1,
  h2,
  h3,
  h4 {
    line-height: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  img {
    padding: 10px;
  }
  #index_first_section img {
    filter: grayscale(2);
    lighting-color: white;
  }

  #index_first_section img:hover {
    filter: grayscale(0);
  }

  #index_second_section,
  #om_fourth_section,
  #tema2_third_section,
  #tema3_fourth_section,
  #tema4_fourth_section,
  #tema5_second_section {
    padding-bottom: 30px;
  }
}

/* --------------------------------------- */
/* design på sections */
@media (min-width: 1200px) {
  /* --------------------------------------- */
  /* vertical line */
  .vl {
    border: 0;
    border-left: 1px solid #cacaca;
    height: 30rem;
    position: absolute;
    left: 47%;
    top: 15rem;
    z-index: 1;
  }

  #index_first_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10rem;
    margin-top: 10rem;
  }

  #index_first_section {
    font-size: 2.5rem;
  }
  #index_first_section img {
    filter: grayscale(2);
    lighting-color: white;
    border-radius: 10px;
  }

  #index_first_section img:hover {
    filter: grayscale(0);
  }

  #index_first_section .tekst h1 {
    font-size: 3rem;
  }

  #index_second_section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  #index_first_section .section_wrapper {
    margin-top: 5rem;
  }

  #index_second_section .hr {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  #index_second_section .section_wrapper {
    text-align: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
  }

  #index_second_section p {
    margin-left: 25rem;
    margin-right: 25rem;
  }

  #index_second_section .section_wrapper h1 {
    font-size: 4rem;
  }

  #om_first_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #om_first_section img {
    display: flex;
    justify-content: left;
    margin-right: 5rem;
    max-width: 90%;
  }

  #om_first_section .tekst {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  #om_first_section .tekst h1 {
    /* font-size: clamp(2rem, 15vw, 5rem); */
    font-size: 5rem;
  }

  #om_first_section .tekst h2 {
    font-size: 2rem;
  }

  #om_second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #om_third_section h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 15rem;
    margin-right: 10rem;
  }

  #om_third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  #om_fourth_section {
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 28rem;
    margin-right: 25rem;
  }

  #tema2_first_section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  #tema2_second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #tema2_second_section {
    font-size: 2.5rem;
  }

  #tema2_second_section .section_wrapper {
    margin-top: 2rem;
  }

  #tema2_third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #tema2_third_section .tema2_billede1 {
    margin-left: 5rem;
    max-width: 70%;
  }

  #tema3_first_section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;

    margin-right: 30rem;
  }

  #tema3_second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #tema3_second_section img {
    margin-left: 5rem;
    max-width: 70%;
  }

  #tema3_second_section .vl {
    border: 0;
    border-left: 1px solid #cacaca;
    height: 28rem;
    position: absolute;
    left: 50%;
    top: 26rem;
    z-index: 1;
  }

  #tema3_third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #tema3_fourth_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  /* #tema3_fourth_section .button_prototype {
    margin-left: 5rem;
  } */

  /* #tema3_fourth_section .button_pitch {
    margin-left: 6rem;
  } */

  #tema4_first_section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #tema4_second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #tema4_fourth_section img {
    margin-left: 5rem;
    max-width: 70%;
  }

  #tema4_third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #tema4_fourth_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  /* #tema4_fourth_section .button_spil {
    margin-left: 6rem;
  } */

  #tema5_first_section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 30rem;
  }

  #tema5_second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 5px;
  }

  /* #tema5_second_section .button_pilot {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
  } */
  /* #tema5_second_section .button_redesign {
    display: flex;
    justify-content: center;
  } */

  #tema5_second_section img {
    margin-left: 5rem;
    max-width: 70%;
  }

  #tema5_second_section .vl {
    border: 0;
    border-left: 1px solid #cacaca;
    height: 55rem;
    position: absolute;
    left: 50%;
    top: 27rem;
    z-index: 1;
  }

  #tema6_first_section h1,
  #tema6_first_section p {
    display: flex;
    justify-content: center;
    margin-left: 20rem;
    margin-right: 20rem;
  }

  .tal h1 {
    color: orange;
  }
}

/* --------------------------------------- */
/* mobile */
@media (max-width: 1200px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: none;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    height: 100vh;
  }

  .overflow {
    overflow: hidden;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
  #index_first_section img {
    filter: grayscale(2);
    lighting-color: white;
  }

  #index_first_section img:hover {
    filter: grayscale(0);
  }

  .menu_links {
    font-size: 2rem;
    font-family: "Abel", sans-serif;
    line-height: 4rem;
    color: #354e57;
  }

  #tema3_third_section img,
  #tema3_fifth_section img,
  #tema4_third_section img {
    padding: 10px;
  }

  .tal h1 {
    color: orange;
  }
}

/* --------------------------------------- */
/* forsøg på header */
html {
  background-color: #eef3f4;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 0.4rem;
  gap: 20px;
  overflow-x: auto;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  gap: 10px;
  background-color: #eef3f4;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

/* --------------------------------------- */
/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #354e57;
}

/* --------------------------------------- */
/* button */

.button {
  background-color: #354e57;
  /* background-color: #cacaca; */
  border: none;
  color: #eef3f4;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: "Abel", sans-serif;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* On mouse-over  */
.button:hover {
  background-color: orange;
  /* background-color: #5a7783; */
}

.om_mig {
  border-radius: 10px;
}
.tema2 {
  border-radius: 10px;
}
.tema3 {
  border-radius: 10px;
}
.tema4 {
  border-radius: 10px;
}
.tema5 {
  border-radius: 10px;
}

.tema6 {
  border-radius: 10px;
}

.responsive {
  border-radius: 10px;
}

.prototype {
  border-radius: 10px;
}
.spil {
  border-radius: 10px;
}
.pilot {
  border-radius: 10px;
}
.redesign {
  border-radius: 10px;
}

.link {
  background-color: #354e57;
  /* background-color: #cacaca; */
  border: none;
  color: #eef3f4;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: "Abel", sans-serif;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 10px;
}

/* On mouse-over  */
.link:hover {
  /* background-color: #5a7783; */
  background-color: orange;
  color: #eef3f4;
  border-radius: 10px;
}

/* --------------------------------------- */
/* hr */
hr {
  border: 0;
  border-top: 1px solid #cacaca;
  margin-left: 30rem;
  margin-right: 30rem;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5a7783;
  color: #eef3f4;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  border-radius: 10px;
}
